DATABASE_URL=postgresql://neondb_owner:npg_9yKI2snLTxwq@ep-cool-sunset-aoxtq998.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

PAYLOAD_SECRET=33ce70eabbb6d121e1ceebae

NEXT_PUBLIC_SERVER_URL=https://dongphu.net

CRON_SECRET=dongphu_cron_secret_2026

PREVIEW_SECRET=dongphu_preview_secret_2026

NODE_ENV=production